.DimensionView {
    border: 1px solid darkgray;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.DimensionView:not(:first-child) {
    border-top: 0;
}

.DimensionView label {
    margin: 0;
}

input[type="range"] {
    position: relative;
    top: 0.1rem;
    left: 0.3rem;
  }