.DimensionsEditorItem {
    border: 1px solid #007bff;
    padding: 20px;
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.DimensionsEditorItem:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.dragging {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.DimensionsEditorItem:last-child {
    border-top: 0; /* to avoid "double border" */
}